<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.openApi.mapper.ChatMapper">
	<select id="selectChatList" parameterType="String">
		SELECT
			chat_id AS chatId,
			user_id AS userId,
			user_msg AS userMsg,
			ai_reply AS aiReply,
			create_at AS createAt
		FROM chat_history
		WHERE user_id = #{userId}
	</select>
	
	<insert id="insertChat" parameterType="com.example.openApi.dto.ChatHistoryDto">
		INSERT INTO chat_history(
			user_id, user_msg, ai_reply
		) VALUES(
			#{userId}, #{userMsg}, #{aiReply}
		)
	</insert>
</mapper>