<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mfu.mapper.BoardMapper">
	<insert id="insertBoard" parameterType="com.example.mfu.dto.Board">
		<selectKey resultType="Integer" keyProperty="boardNo" order="AFTER">		<!-- insert 후의 auto_key를 반환 parameterType.setXXX(key)-->
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO board(
			board_title
		) VALUES(
			#{title} <!-- board.getTitle() -->
		)
	</insert>
</mapper>