<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mfu.mapper.BoardMapper">
	<insert id="insertBoard" parameterType="com.example.mfu.dto.Board">
		<selectKey resultType="Integer" keyProperty="boardNo" order="AFTER">		<!-- insert 후의 auto_key를 반환 parameterType.setXXX(key)-->
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO board(
			board_title
		) VALUES(
			#{boardTitle} <!-- board.getTitle() -->
		)
	</insert>
	
	<delete id="deleteBoard" parameterType="com.example.mfu.dto.Board">
		DELETE FROM board
		WHERE board_no = #{boardNo}
	</delete>
	
	<!-- 게시글 제목 수정 -->
	<update id="updateBoardTitle" parameterType="com.example.mfu.dto.Board">
		UPDATE board SET
		board_title = #{boardTitle}
		WHERE board_no = #{boardNo}
	</update>
	
	<!-- 리스트 출력 -->
	<select id="selectBoard" parameterType="com.example.mfu.dto.Board">
		SELECT 
			board_no AS boardNo, 
			board_title AS boardTitle
		FROM board
		ORDER BY board_no DESC
	</select>
	
	<!-- 게시글 하나 출력 -->
	<select id="selectBoardOne" parameterType="com.example.mfu.dto.Board">
		SELECT
			board_no AS boardNo,
			board_title AS boardTitle
		FROM board
		WHERE board_no = #{board_no}
	</select>
	
</mapper>