<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mfu.mapper.BoardfileMapper">

	<!-- 보드 파일 추가 -->
	<insert id="insertBoardfile" parameterType="com.example.mfu.dto.Boardfile">
		INSERT INTO boardfile (
			board_no, filename, filetype
		) VALUES (
			#{boardNo}, #{filename}, #{filetype}
		)
	</insert>
	
	<!-- 보드 리스트 가져오기 -->
	<select id="selectBoardfile" parameterType="com.example.mfu.dto.Boardfile">
		SELECT
			boardfile_no AS boardfileNo,
			board_no AS boardNo,
			filename,
			filetype
		FROM boardfile
		WHERE board_no = #{boardNo};
	</select>
	
	<!-- 보드 하나 가져오기 -->
	<select id="selectBoardfileOne" parameterType="int" resultType="com.example.mfu.dto.Boardfile">
		SELECT
			boardfile_no AS boardfileNo,
			board_no AS boardNo,
			filename,
			filetype
		FROM boardfile
		WHERE boardfile_no = #{boardfileNo}
	</select>

	<!-- 보드 파일 하나 삭제 -->
	<delete id="deleteBoardfile" parameterType="com.example.mfu.dto.Boardfile">
		DELETE FROM boardfile
		WHERE boardfile_no = #{boardfileNo}
	</delete>
</mapper>