<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mbboard.mapper.ConnectCountMapper">

	<!-- 반환값에 따라 INSERT or UPDATE -->
	<select id="selectConnectDateByKey" parameterType="com.example.mbboard.dto.ConnectCount">
		SELECT
			connect_date
		FROM connect_count
		WHERE connect_date = CURDATE()
		AND member_role = #{memberRole}
	</select>


	<insert id="insertConnectCount" parameterType="com.example.mbboard.dto.ConnectCount">
		INSERT INTO connect_count(
			connect_date, member_role, count
		) VALUES(
			CURDATE(), #{memberRole}, 1
		)
	</insert>

	<update id="updateConnectCount" parameterType="com.example.mbboard.dto.ConnectCount">
		UPDATE connect_count 
			SET count = count + 1
		WHERE connect_date = CURDATE()
		AND member_role = #{memberRole}
	</update>

	<select id="selectConnectCountAll" resultType="map">
		SELECT
			SUM(CASE when member_role = 'ANONYMOUS' THEN COUNT ELSE 0 END) AS ANONYMOUS
			,SUM(CASE when member_role = 'MEMBER' THEN COUNT ELSE 0 END) AS MEMBER
			,SUM(CASE when member_role = 'ADMIN' THEN COUNT ELSE 0 END) AS ADMIN
		FROM connect_count
	</select>
	
	<!-- 결과셋이 없으면 0 처리 -->
	<select id="selectConnectCountToday" resultType="map">	
		SELECT
			SUM(CASE when member_role = 'ANONYMOUS' THEN COUNT ELSE 0 END) AS ANONYMOUS
			,SUM(CASE when member_role = 'MEMBER' THEN COUNT ELSE 0 END) AS MEMBER
			,SUM(CASE when member_role = 'ADMIN' THEN COUNT ELSE 0 END) AS ADMIN
		FROM connect_count
		WHERE connect_date = CURDATE();
	</select>

</mapper>