<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ajax.mapper.ContinentMapper">

	<select id="selectContinentList" resultType="map">
		SELECT
			continent_no AS continentNo,
			continent_name AS continentName
		FROM continent
	</select>
	
</mapper>