<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ajax.mapper.MemberMapper">

	<select id="selectMemberId" parameterType="string" resultType="string">
		SELECT id
		FROM member
		WHERE id = #{id}
	</select>
	
	<insert id="insertMember" parameterType="com.example.ajax.dto.Member">
		INSERT INTO member(
			id, pw, gender, age
		) VALUES(
			#{id},#{pw},#{gender},#{age}
		)
	</insert>
	
</mapper>